* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}


.card {
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: all 0.5s ease-in-out; */
}

.card-content {
    padding: 24px 16px;
}

.card-title {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 4px;
}

.card-category .card-technology .card-framework {
    font-size: 12px;
    color: #777;
    margin-bottom: 12px;
}

.card-link.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #45a049;
    }
}